@media (min-width: 992px){

  .main-content{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .row .portfolio-item{
    max-height: 400px;
    max-width: none;
    margin: 0;
  }

  .row .flex-item{
    flex: 0 0 50%;
    max-width: 50%;
  }

  .portfolio-item .img{
    min-width: 100%;
    height: 450px;
    -webkit-transition: -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }

  .row .portfolio-item .caption{
    background-color: #5aa998ab;
    -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }

  .portfolio-item .caption .caption-content{
    transition: opacity 0.25s;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 5rem;
  }
}

@media (min-width: 768px){
  .main-content {
    min-height: 100vh;
  }

  .contents .experience-date{
  	min-width: 18rem;
  }

  .contents .full-content{
  	display: flex;
  	flex-direction: row;
  	justify-content: space-between;
  }
}

.main-content{
    padding-top: 5rem;
    padding-bottom: 5rem;
    max-width: 75rem;
}

.contents{
	width: 100%;
}

.text-primary{
	color: #5aa998;
}

.full-content{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  }

.experience-date{
  	min-width: 0rem;
  	text-align: right;
  	font-size: 1.5rem;
  	letter-spacing: .05rem;
  }

.social-icons{
	margin-top: 2rem;
}

.social-icons a{
	display: inline-block;
	height: 3.5rem;
	width: 3.5rem;
	background-color: #495057;
	color: white;
	border-radius: 100%;
	text-align: center;
	font-size: 1.5rem;
	margin-right: 1rem;
	line-height: 3.5rem;
}

.list-inline{
	font-size: 3rem;
	padding-left: 0;
	list-style: none;
}

.list-inline .line-inline-item{
	margin-right: .5rem;
	display: inline-block;
}

.fa-ul{
	font-size: 1.5rem;
	list-style: none;
}

.row{
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.portfolio-item{
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
    display: flex;
    height: 100%;
    width: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.portfolio-item .caption h2{
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
}

.caption-content{
    color: #fff;
    margin: 3rem 2rem 2rem;
  }

.portfolio-image{
  max-width: 100%;
  height: 300px;
}

h1{
  font-size: 6rem;
  line-height: 5.5rem;
}

h2{
  font-size: 3.5rem;
}

h3{
  font-size: 2rem;
}

.flex-item{
    position: relative;
    width: 100%;
    margin-bottom: 1.5rem;
    padding-right: 15px;
    padding-left: 15px;
}

.flex-item a:hover .caption{
  background-color: #5aa998;
  transform: scale(0.9);
}



